.Adiamond{
	
	background-image: url("../rss/Diamond/diamond-a.png");
	
}
.twodiamond{
	
	background-image: url("../rss/Diamond/diamond-2.png");
	
}
.threediamond{
	
	background-image: url("../rss/Diamond/diamond-3.png");
	
}
.fourdiamond{
	
	background-image: url("../rss/Diamond/diamond-4.png");
	
}
.fivediamond{
	
	background-image: url("../rss/Diamond/diamond-5.png");
	
}
.sixdiamond{
	
	background-image: url("../rss/Diamond/diamond-6.png");
	
}
.sevendiamond{
	
	background-image: url("../rss/Diamond/diamond-7.png");
	
}
.eightdiamond{
	
	background-image: url("../rss/Diamond/diamond-8.png");
	
}
.ninediamond{
	
	background-image: url("../rss/Diamond/diamond-9.png");
	
}
.tendiamond{
	
	background-image: url("../rss/Diamond/diamond-10.png");
	
}
.Jdiamond{
	
	background-image: url("../rss/Diamond/diamond-j.png");
	
}
.Qdiamond{
	
	background-image: url("../rss/Diamond/diamond-q.png");
	
}
.Kdiamond{
	
	background-image: url("../rss/Diamond/diamond-k.png");
	
}








.Aclub{
	
	background-image: url("../rss/Club/club-a.png");
	
}
.twoclub{
	
	background-image: url("../rss/Club/club-2.png");
	
}
.threeclub{
	
	background-image: url("../rss/Club/club-3.png");
	
}
.fourclub{
	
	background-image: url("../rss/Club/club-4.png");
	
}
.fiveclub{
	
	background-image: url("../rss/Club/club-5.png");
	
}
.sixclub{
	
	background-image: url("../rss/Club/club-6.png");
	
}
.sevenclub{
	
	background-image: url("../rss/Club/club-7.png");
	
}
.eightclub{
	
	background-image: url("../rss/Club/club-8.png");
	
}
.nineclub{
	
	background-image: url("../rss/Club/club-9.png");
	
}
.tenclub{
	
	background-image: url("../rss/Club/club-10.png");
	
}
.Jclub{
	
	background-image: url("../rss/Club/club-j.png");
	
}
.Qclub{
	
	background-image: url("../rss/Club/club-q.png");
	
}
.Kclub{
	
	background-image: url("../rss/Club/club-k.png");
	
}








.Aheart{
	
	background-image: url("../rss/Heart/heart-a.png");
	
}
.twoheart{
	
	background-image: url("../rss/Heart/heart-2.png");
	
}
.threeheart{
	
	background-image: url("../rss/Heart/heart-3.png");
	
}
.fourheart{
	
	background-image: url("../rss/Heart/heart-4.png");
	
}
.fiveheart{
	
	background-image: url("../rss/Heart/heart-5.png");
	
}
.sixheart{
	
	background-image: url("../rss/Heart/heart-6.png");
	
}
.sevenheart{
	
	background-image: url("../rss/Heart/heart-7.png");
	
}
.eightheart{
	
	background-image: url("../rss/Heart/heart-8.png");
	
}
.nineheart{
	
	background-image: url("../rss/Heart/heart-9.png");
	
}
.tenheart{
	
	background-image: url("../rss/Heart/heart-10.png");
	
}
.Jheart{
	
	background-image: url("../rss/Heart/heart-jpng.png");
	
}
.Qheart{
	
	background-image: url("../rss/Heart/heart-q.png");
	
}
.Kheart{
	
	background-image: url("../rss/Heart/heart-k.png");
	
}









.Aspade{
	
	background-image: url("../rss/Spade/spade-a.png");
	
}
.twospade{
	
	background-image: url("../rss/Spade/spade-2.png");
	
}
.threespade{
	
	background-image: url("../rss/Spade/spade-3.png");
	
}
.fourspade{
	
	background-image: url("../rss/Spade/spade-4.png");
	
}
.fivespade{
	
	background-image: url("../rss/Spade/spade-5.png");
	
}
.sixspade{
	
	background-image: url("../rss/Spade/spade-6.png");
	
}
.sevenspade{
	
	background-image: url("../rss/Spade/spade-7.png");
	
}
.eightspade{
	
	background-image: url("../rss/Spade/spade-8.png");
	
}
.ninespade{
	
	background-image: url("../rss/Spade/spade-9.png");
	
}
.tenspade{
	
	background-image: url("../rss/Spade/spade-10.png");
	
}
.Jspade{
	
	background-image: url("../rss/Spade/spade-j.png");
	
}
.Qspade{
	
	background-image: url("../rss/Spade/spade-q.png");
	
}
.Kspade{
	
	background-image: url("../rss/Spade/spade-k.png");
	
}